@import url('https://fonts.googleapis.com/css?family=Roboto:100,500,700');
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
	font-family: 'Roboto', sans-serif;
}


.block-abs-new {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.wrap{
	background: url('bg.png') center center no-repeat;
	background-size: cover;
	position: absolute;
	max-width: 100%;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.form-gradient{
	max-width: 760px;
	margin: 15px auto;
	position: relative;
	z-index: 5;
}


.form-block h3, h1 {

	text-align: center;
	color: #fff;
	font-size: 55px;
	margin-top: 30px;
	font-weight: 100px;
}
.form-block h1 {
	font-size: 30px;
  	margin-bottom: 50px;
}

 a.button {
   	text-align: center;
    margin:auto;
    background: url('button.png')center center no-repeat;
    display: block;
    width: 160px;
    height:160px;
   }
   a.button:hover {
    background: url('button2.png')center center no-repeat;
   }

.form-block .info{
	padding: 35px 0;
	position: relative;
	z-index: 5;
}

.form-block .info p{
	text-align: center;
	font-weight: 300px;
	color: #fff;
	font-size: 25px;
}


@media only screen and (max-width: 1199px){
	.form-gradient:after{
		display: none;
	}
}

@media only screen and (max-width: 781px) {

	.wrap{
		padding: 30px 0;
	}

	.form-gradient{
		margin: 0 15px;
	}

}

@media only screen and (max-width: 767px) {

	.form-block h3 {
		font-size: 40px;
	}
  .form-block h1 {
    font-size: 20px;
  }
  .form-block .info p{
  	font-size: 18px;
  }



}
