@import url('https://fonts.googleapis.com/css?family=Roboto:100,500,700');
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */


   #ac-globalnav,#ac-gn-segmentbar{
     font-weight:normal;
     -webkit-text-size-adjust:100%;
     -moz-text-size-adjust:100%;
     -ms-text-size-adjust:100%;
     text-size-adjust:100%
    }

    #ac-globalnav,#ac-globalnav:before,#ac-globalnav:after,#ac-globalnav *,#ac-globalnav *:before,#ac-globalnav *:after,#ac-gn-segmentbar,#ac-gn-segmentbar:before,#ac-gn-segmentbar:after,#ac-gn-segmentbar *,#ac-gn-segmentbar *:before,#ac-gn-segmentbar *:after
    {
       -webkit-box-sizing:content-box;
       box-sizing:content-box;
       margin:0;
       padding:0;
       pointer-events:auto;
       letter-spacing:normal
    }

    #ac-globalnav {
      position:fixed;
      top:0;
      right:0;
      left:0;
      z-index:9999;
      display:block;
      margin:0;
      width:100%;
      min-width:1024px;
      height:44px;
      max-height:44px;
      background:rgba(45,45,45,0.98);
      font-size:17px;
      -webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;
      }

      #ac-globalnav .ac-gn-link:hover{opacity:.65}

      #ac-globalnav .ac-gn-link-text {

        clip:rect(1px 1px 1px 1px);
        clip:rect(1px, 1px, 1px, 1px);
        -webkit-clip-path:inset(0px 0px 99.9% 99.9%);
        clip-path:inset(0px 0px 99.9% 99.9%);
        overflow:hidden;
        height:1px;
        width:1px;
        padding:0;
        border:0;
        top:50%;
        }

      #ac-globalnav .ac-gn-item {
        -webkit-box-sizing:border-box;
        box-sizing:border-box;
        display:inline-block;
        position:relative;
        height:44px;
        z-index:1;
        vertical-align:top;
        }

      #ac-globalnav .ac-gn-link-apple {
        margin-top: 7px;
        background-size:16px 44px;
        background-repeat:no-repeat;background-image:url("img/aple.png");
        background-position:center center;width:16px;
      }

      #ac-globalnav .ac-gn-list {
padding-top: 10px;
      }

      #ac-globalnav .ac-gn-header .ac-gn-item,#ac-globalnav .ac-gn-header .ac-gn-link{
        height:44px;
      }
      #ac-globalnav .ac-gn-header .ac-gn-link
      {line-height:2.82353em}

      #ac-globalnav .ac-gn-content {
        margin:0 auto;
        height: 44px;
        max-width:980px;
        padding:0 22px;
        position:relative;
        z-index:2;
        padding-left:calc(22px + constant(safe-area-inset-left));
        padding-right:calc(22px + constant(safe-area-inset-right));
        }

        @supports (padding: calc(max(0px))) {
          #ac-globalnav .ac-gn-content{
            padding-left:calc(max(22px, env(safe-area-inset-left)));
            padding-right:calc(max(22px, env(safe-area-inset-right)));
            }
        }
        @media only screen and (max-width: 767px){
          #ac-globalnav .ac-gn-content{
            padding:0;
            position:absolute;
            top:0;
            width:100%;
            height:100%;
            }
        }
      #ac-globalnav .ac-gn-header{
        display:none;
        position:absolute;
        z-index:5;
        top:0;
        left:0;
        width:100%;
        height:48px;
        overflow:hidden;
      }

.ember245, #ember245::before {
      width: 246px;
      height: 246px;
    }
    .ember245::before {
      padding-top: 100%;
    }
@media (min-width: 736px) {
      .ember245, #ember245::before {
      width: 217px;
      height: 217px;
    }
    .ember245::before {
      padding-top: 100%;
    }
    }
@media (min-width: 1069px) {
      .ember245, #ember245::before {
      width: 230px;
      height: 230px;
    }
    .ember245::before {
      padding-top: 100%;
    }
}

  .ember257, #ember257::before {
        width: 643px;
        height: 361px;
      }
      .ember257::before {
        padding-top: 56.143079315707624%;
      }
@media (min-width: 736px) {
        .ember257, #ember257::before {
        width: 217px;
        height: 122px;
      }
      .ember257::before {
        padding-top: 56.22119815668203%;
      }
      }
@media (min-width: 1069px) {
        .ember257, #ember257::before {
        width: 313px;
        height: 176px;
      }
      .ember257::before {
        padding-top: 56.23003194888179%;
      }
      }

      .ember262, #ember262::before {
            width: 643px;
            height: 361px;
          }
          .ember262::before {
            padding-top: 56.143079315707624%;
          }
  @media (min-width: 736px) {
            .ember262, #ember262::before {
            width: 217px;
            height: 122px;
          }
          .ember262::before {
            padding-top: 56.22119815668203%;
          }
          }
  @media (min-width: 1069px) {
            .ember262, #ember262::before {
            width: 313px;
            height: 176px;
          }
          .ember262::before {
            padding-top: 56.23003194888179%;
          }
          }

          .ember267, #ember267::before {
                width: 643px;
                height: 361px;
              }
              .ember267::before {
                padding-top: 56.143079315707624%;
              }
      @media (min-width: 736px) {
                .ember267, #ember267::before {
                width: 217px;
                height: 122px;
              }
              .ember267::before {
                padding-top: 56.22119815668203%;
              }
              }
      @media (min-width: 1069px) {
                .ember267, #ember267::before {
                width: 313px;
                height: 176px;
              }
              .ember267::before {
                padding-top: 56.23003194888179%;
              }
              }

              .ember272, #ember272::before {
                    width: 643px;
                    height: 361px;
                  }
                  .ember272::before {
                    padding-top: 56.143079315707624%;
                  }
          @media (min-width: 736px) {
                    .ember272, #ember272::before {
                    width: 217px;
                    height: 122px;
                  }
                  .ember272::before {
                    padding-top: 56.22119815668203%;
                  }
                  }
          @media (min-width: 1069px) {
                    .ember272, #ember272::before {
                    width: 313px;
                    height: 176px;
                  }
                  .ember272::before {
                    padding-top: 56.23003194888179%;
                  }
                  }






a.button{
  color: #fff;
    text-decoration: none;
    background-color: #39b54a;
    border-radius: 5px;
    padding: 12px 60px;
   }

a.button:hover {
    text-decoration: none;
    background-color: #35a344;
}

#mobile_button a{
  padding: 0px;
  font-size: 0px;
}




@media only screen and (max-width: 767px) {

 a.button{
     padding: 12px 25px;
   }
}

@media only screen and (max-width: 550px) {
  a.button{
      padding: 0px;
      font-size: 0px;
     }
     #button1 {
       height: 0px;
     }
    #mobile_button {
        margin-top:15px;
        text-align: center;
    }
     #mobile_button a{
     padding: 12px 25px;
     font-size: 16px;
     }

}
