@import url('https://fonts.googleapis.com/css?family=Roboto:100,500,700');
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
	font-family: 'Roboto', sans-serif;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote {
    &:before,
    &:after {
        content: '';
        content: none;
    }
}

q {
    &:before,
    &:after {
        content: '';
        content: none;
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.t-table {
    display: table;
    width: 100%;
    height: 100%;
}

.c-table {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.block-abs {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.block-abs-new {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.wrap{
	background: url('bg.png') center center no-repeat;
	background-size: cover;
	position: absolute;
	max-width: 100%;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.form-gradient{
	max-width: 760px;
	margin: 15px auto;
	padding: 4px;
	border-radius: 15px;
	position: relative;
	z-index: 5;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #393939 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%,#393939 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%,#393939 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#393939',GradientType=0 ); /* IE6-9 */
}

.form-gradient:after{
	content: '';
	display: block;
	position: absolute;
	bottom: -60px;
	left: 0;
	width: 100%;
	height: 82px;
	background: url('shadow.png') no-repeat center top;
}

.form-block{
	background: #000;
	border-radius: 15px;
	padding: 35px 0 0 0;
	position: relative;
	z-index: 5;
}


.form-block .old{
	width: 113px;
	border-radius: 50%;
	border: 1px solid #fff;
	font-size: 38px;
	color: #ff0202;
	text-align: center;
	font-weight: 100;
	margin: 0 auto;
	padding: 37.7px 0;
}

.form-block h3{
	text-align: center;
	color: #fff;
	font-size: 30px;
	margin-top: 30px;
	font-weight: 100;
}

.form-block .fields{
	max-width: 688px;
	margin: 30px auto 0 auto;
}

.form-block .fields:after{
	content: '';
	display: block;
	height: 0;
	clear: both;
}

.form-block .fields div{
	float: left;
	margin-right: 20px;
}

.form-block .fields div:last-child{
	margin-right: 0;
}

.form-block .fields div input[type=text]{
	width: 214px;
	line-height: 83px;
	text-align: center;
	color: #fff;
	font-size: 34px;
	font-weight: 700;
	text-transform: uppercase;
	border: 1px solid #fff;
	border-radius: 15px;
	outline: none;
	background: transparent;
	padding: 0;
	margin: 0;
}

.form-block .fields div input[type=text]:focus{
	border: 1px solid green;
}

.form-block .fields div .error{
	border: 1px solid red!important;
}

.form-block .info{
	padding: 35px 0;
	background: #393939;
	margin-top: 35px;
	border-radius: 0 0 15px 15px;
	position: relative;
	z-index: 5;
}

.form-block .info p{
	text-align: center;
	font-weight: 500px;
	color: #fff;
	font-size: 24px;
}

@media only screen and (max-width: 1199px){
	.form-gradient:after{
		display: none;
	}
}

@media only screen and (max-width: 781px) {
	
	.wrap{
		padding: 30px 0;
	}
	
	.form-gradient{
		margin: 0 15px;
	}
	
}

@media only screen and (max-width: 767px) {
	
	.form-block h3 {
		font-size: 18px;
	}
	
	.form-block .fields{
		margin: 15px 15px 0 15px;
	}
	
	.form-block .fields div{
		display: block;
		margin-top: 15px;
		margin-right: 0;
		float: none;
	}
	
	.form-block .fields div input[type=text]{
		width: 100%;
		max-width: 100%;
		font-size: 24px;
		line-height: 50px;
		display: block;
		padding: 0;
		margin: 0;
	}
	
}