@import url('https://fonts.googleapis.com/css?family=Roboto:100,500,700');
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
	font-family: 'Roboto', Regular;
}

.block-abs {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.block-abs-new {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.wrap{
	position: absolute;
	max-width: 100%;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
  background: #a0a6ac; /* Old browsers */
  background: linear-gradient(to top, #a0a6ac, #383d4c);
	background: -moz-linear-gradient(top, #a0a6ac 0%, #383d4c 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #a0a6ac 0%,#383d4c 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #a0a6ac 0%,#383d4c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0a6ac', endColorstr='#383d4c',GradientType=0 ); /* IE6-9 */
}

.form-gradient{
	max-width: 760px;
	margin: 10px auto;
	border-radius: 15px;
	position: relative;
	z-index: 5;
	background: #53565b; /* Old browsers */
  background: linear-gradient(to top, #53565b, #292c34);
	background: -moz-linear-gradient(top, #53565b 0%, #292c34 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #53565b 0%,#292c34 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #53565b 0%,#292c34 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#53565b', endColorstr='#292c34',GradientType=0 ); /* IE6-9 */
}

.form-gradient:after{
	content: '';
	display: block;
	position: absolute;
	bottom: -60px;
	left: 0;
	width: 100%;
	height: 82px;
}

.form-block{

	border-radius: 15px;
	padding: 35px 0 30px 0;
	position: relative;
	z-index: 5;
}


.form-block .old{
	width: 155px;
	border-radius: 50%;
	font-size: 75px;
  font-weight: 100;
	color: #fff;
  background-color: #ff0202;
	text-align: center;
	margin: 0 auto;
	padding: 40px 0;
}

.form-block h3, h1{
	text-align: center;
	color: #fff;
	font-size: 45px;
  font-weight: 300px;
	margin-top: 10px;

}
.form-block h1{
	font-size: 22px;
  margin-bottom: 40px;
}

.button {
text-align: center;
margin-top:30px;
margin-bottom: 70px;
font-size: 20px;
font-weight: 200px;
color: #808080;
}
.button div:first-child{
margin-left: 120px;
}

.button a {
  text-decoration: none;
  color: #b5b5b5;
  font-weight: 100;
  border-radius: 5px;
  margin: 30px 30px;
  padding: 10px 40px;
}
.button div {
  float: left;
  height: 45px;
}

.active a {
  background-color: #025992;
  color: #ffffff;
  padding: 10px 63px;
}

.button a:hover{
	background-color: #025084;
  color: #ffffff;

}



@media only screen and (max-width: 1199px){
	.form-gradient:after{
		display: none;
	}
}

@media only screen and (max-width: 781px) {

	.wrap{
		padding: 30px 0;
	}
	.form-gradient{
		margin: 0 15px;
	}
  .button {
  margin-bottom: 0px;
  }
  .button div {
    float: none;
    height: 55px;
  }
  .button div:first-child{
  margin-left: 0px;
  }
}

@media only screen and (max-width: 767px) {

	.form-block h3 {
		font-size: 27px;
	}
  .form-block h1{
  	font-size: 16px;
  }
  .button {
  margin-bottom: 0px;
  }
  .button div {
    float: none;
    height: 55px;
  }
  .button div:first-child{
  margin-left: 0px;
  }
}
